includeConfig 'conf/modules.config'

profiles {
    standard {
        docker.enabled = true
        singularity.enabled = false
        conda.enabled = false
    }
    docker {
        docker.enabled = true
        singularity.enabled = false
        conda.enabled = false
    }
    singularity {
        singularity.enabled = true
        docker.enabled = false
        conda.enabled = false
        singularity.cacheDir = "$SINGULARITY_CACHEDIR"
        singularity.envWhitelist = ['SINGULARITY_TMPDIR']
        singularity.runOptions = '-B $SINGULARITY_TMPDIR:/tmp'
    }
}

docker.registry = 'quay.io'
singularity.registry = 'quay.io'