process {
    withName: NANOPLOT {
        publishDir = [
            path: { "${params.outdir}/localtest/NanoPlot/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
    }

    withName: NANOPLOT_BULK {
        publishDir = [
            path: { "${params.outdir}/localtest/NanoPlot_bulk/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
    }

    withName: FILTLONG {
        publishDir = [
            path: { "${params.outdir}/localtest/nanofilt/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
        ext.args = "--verbose --min_length 500 --min_mean_q 98 --length_weight 0"
        ext.prefix = "quality-filtered"
    }

    withName: PORECHOP_PORECHOP {
        publishDir = [
            path: { "${params.outdir}/localtest/porechop/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
        ext.prefix = "chopped"
    }

    withName: VSEARCH_DEREPLICATE {
        publishDir = [
            path: { "${params.outdir}/localtest/vsearch-derep/its1/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
    }
    
    // withName: VSEARCH_RELABEL {
    //     publishDir = [
    //         path: { "${params.outdir}/localtest/vsearch-relabel/its1/${meta.id}" },
    //         mode: 'copy',
    //         enabled: false
    //     ]
    // }

    withName: ITSXPRESS {
        publishDir = [
            path: { "${params.outdir}/localtest/itsxpress/its1/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
        ext.args = "--region ITS1 --single_end --taxa Fungi"
        ext.prefix = "ITS1"
    }

    // withName: VSEARCH_CLUSTER {
    //     publishDir = [
    //         path: { "${params.outdir}/localtest/vsearch/its1/${meta.id}" },
    //         mode: 'copy',
    //         enabled: true
    //     ]
    //     ext.args = "--id 0.98 --log vsearch.log --consout consout --otutabout otu.tsv --biomout otus.biom"
    //     ext.args2 = "--cluster_size"
    //     ext.args3 = "--centroids"
    // }

    withName: VSEARCH_CLUSTER_A {
        publishDir = [
            path: { "${params.outdir}/localtest/vsearch/its1/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
        ext.args = "--id 0.95 --log vsearch.log --relabel OTU_"
        ext.args2 = "--cluster_size"
        ext.args3 = "--centroids --otutabout --biomout --consout"
    }

    withName: VSEARCH_SINTAX {
        publishDir = [
            path: { "${params.outdir}/localtest/vsearch-sintax/its1/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
    }

    withName: PHYLOSEQ {
        publishDir = [
            path: { "${params.outdir}/localtest/phyloseq/its1/" },
            mode: 'copy',
            enabled: true
        ]
    }

    withName: VSEARCH_UCHIME_DENOVO {
        publishDir = [
            path: { "${params.outdir}/localtest/vsearch-uchime-denovo/its1" },
            mode: 'copy',
            enabled: true
        ]
        ext.prefix = "denovo"
    }

    withName: VSEARCH_UCHIME_REF {
        publishDir = [
            path: { "${params.outdir}/localtest/vsearch-uchime-ref/its1" },
            mode: 'copy',
            enabled: true
        ]
        ext.prefix = "ref-unite"
    }
}