process {
    withName: NANOPLOT {
        publishDir = [
            path: { "${params.outdir}/localtest/NanoPlot/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
    }

    withName: NANOPLOT_BULK {
        publishDir = [
            path: { "${params.outdir}/localtest/NanoPlot_bulk/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
    }

    withName: FILTLONG {
        publishDir = [
            path: { "${params.outdir}/localtest/nanofilt/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
        ext.args = "--verbose --min_length 500 --min_mean_q 98 --length_weight 0"
        ext.prefix = "quality-filtered"
    }

    withName: PORECHOP_PORECHOP {
        publishDir = [
            path: { "${params.outdir}/localtest/porechop/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
        ext.prefix = "chopped"
    }

    withName: ITSXPRESS {
        publishDir = [
            path: { "${params.outdir}/localtest/itsxpress/its1/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
        ext.args = "--region ITS1 --single_end --taxa Fungi"
        ext.prefix = "ITS1"
    }

    withName: VSEARCH_CLUSTER {
        publishDir = [
            path: { "${params.outdir}/localtest/vsearch/its1/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
        ext.args = "--id 0.98 --log vsearch.log --consout consout --otutabout otu.tsv"
        ext.args2 = "--cluster_fast"
        ext.args3 = "--centroids"
    }

    withName: VSEARCH_SINTAX {
        publishDir = [
            path: { "${params.outdir}/localtest/vsearch-sintax/its1/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
    }
}