process {
    withName: nanoplot_bulk {
        publishDir = [
            path: { "${params.outdir}/QC/${meta.id}${meta.region ? "/" + meta.region  : '' }/nanoplot/all-samples"},
            mode: 'copy',
        ]
        ext.args = "--tsv_stats"
    }
    withName: nanoplot {
        publishDir = [
            path: { "${params.outdir}/QC/${meta.stage}${meta.region ? "/" + meta.region  : '' }/nanoplot/${meta.id}"},
            mode: 'copy',
        ]
        ext.args = "--tsv_stats"
    }


    withName: plotQualityProfile {
        publishDir = [
            path: { "${params.outdir}/QC/${meta.id}${meta.region ? "/" + meta.region  : '' }/qualityProfile" },
            mode: 'copy',
        ]
    }

    withName: CUTADAPT_REORIENT_READS {
        publishDir = [
            [
                path: { "${params.outdir}/cutadapt/${meta.id}" },
                mode: 'copy',
                pattern: '*.fastq.gz',
            ],
            publishDir = [
                path: { "${params.outdir}/logs/cutadapt/${meta.id}" },
                mode: 'copy',
                pattern: '*.log',
            ]
        ]
    }

    withName: CHOPPER {
        publishDir = [
            [
                path: { "${params.outdir}/chopper/${meta.region ? meta.region + '/' : '' }${meta.id}" },
                mode: 'copy',
                pattern: '*.fastq.gz',
            ],
            [
                path: { "${params.outdir}/logs/chopper/${meta.region ? meta.region + '/' : '' }${meta.id}" },
                mode: 'copy',
                pattern: '*.log',
            ]
        ]
    }

    withName: VSEARCH_DEREPLICATE {
        publishDir = [
            [
                path: { "${params.outdir}/vsearch-derep/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.id}" },
                mode: 'copy',
                pattern: '*.{fastq.gz,uc}',
            ],
            [
                path: { "${params.outdir}/logs/vsearch-derep/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.id}" },
                mode: 'copy',
                pattern: '*.log',
            ]
        ]
    }

    withName: ITSXPRESS {
        publishDir = [
            [
                path: { "${params.outdir}/itsxpress/${region}/${meta.id}" },
                mode: 'copy',
                pattern: '*.fastq.gz',
            ],
            [
                path: { "${params.outdir}/logs/itsxpress/${region}/${meta.id}" },
                mode: 'copy',
                pattern: '*.log',
            ]
        ]
    }

    withName: ITSX {
        publishDir = [
            [
                path: { "${params.outdir}/itsx/LSU/${meta.id}" },
                mode: 'copy',
                pattern: '*.{gz,positions.txt}',
            ],
            [
                path: { "${params.outdir}/logs/itsx/LSU/${meta.id}" },
                mode: 'copy',
                pattern: '*.{summary.txt,problematic.txt}',
            ]
        ]
    }

    withName: RecoverRegionsFromFastq {
        publishDir = [
            path: { "${params.outdir}/itsx-fastq/LSU/${meta.id}" },
            mode: 'copy',
        ]
    }

    withName: VSEARCH_CLUSTER {
        publishDir = [
            [
                path: { "${params.outdir}/vsearch-cluster/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.id}" },
                mode: 'copy',
                pattern: '*.gz',
            ],
            [
                path: { "${params.outdir}/logs/vsearch-cluster/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.id}" },
                mode: 'copy',
                pattern: '*.log',
            ]
        ]
        //ext.args = "--id 0.98 --log vsearch.log --relabel OTU_ --relabel_keep --fasta_width 0 --strand plus --sizein --qmask none --clusterout_sort"
        ext.args = "--id 0.97 --log vsearch.log  --fasta_width 0 --strand plus --sizein --qmask none --clusterout_sort"
        //--relabel_keep 
        ext.args2 = "--cluster_size"
        ext.args3 = "--centroids --otutabout --uc --clusters"
    }

    withName: VSEARCH_MAP_READS_TO_OTUS {
        publishDir = [
            [
                path: { "${params.outdir}/vsearch-otu-map/${meta.region ? meta.region + '/' : '' }${meta.id}" },
                mode: 'copy',
                pattern: '*.{tsv,uc}',
            ],
            [
                path: { "${params.outdir}/logs/vsearch-otu-map/${meta.region ? meta.region + '/' : '' }${meta.id}" },
                mode: 'copy',
                pattern: '*.log',

            ]
        ]
    }

    withName: CreatePhyloseqObject {
        publishDir = [
            path: { "${params.outdir}/phyloseq/${meta.region ? meta.region + '/' : '' }${meta.id}/${params.classifier}" },
            mode: 'copy',

        ]
    }

    withName: CreatePhyloseqOTUObject {
        publishDir = [
            path: { "${params.outdir}/phyloseq/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.id}" },
            mode: 'copy',
        ]
    }

    withName: ExportQiimeData {
        publishDir = [
            path: { "${params.outdir}/qiime-export/${meta.region ? meta.region + '/' : '' }${meta.id}" },
            mode: 'copy',
        ]
    }

    withName: VSEARCH_UCHIME_DENOVO {
        publishDir = [
            [
                path: { "${params.outdir}/vsearch-uchime-denovo/${meta.region ? meta.region + '/' : '' }${meta.id}" },
                mode: 'copy',
                pattern: '*.fasta',
            ],
            [
                path: { "${params.outdir}/logs/vsearch-uchime-denovo/${meta.region ? meta.region + '/' : '' }${meta.id}" },
                mode: 'copy',
                pattern: '*.log',
            ]
        ]
        ext.prefix = "denovo"
    }

    withName: VSEARCH_UCHIME_REF {
        publishDir = [
            [
                path: { "${params.outdir}/vsearch-uchime-ref/${meta.region ? meta.region + '/' : '' }${meta.id}" },
                mode: 'copy',
                pattern: '*.fasta',
            ],
            [
                path: { "${params.outdir}/logs/vsearch-uchime-ref/${meta.region ? meta.region + '/' : '' }${meta.id}" },
                mode: 'copy',
                pattern: '*.log',
            ]
        ]
        ext.prefix = "ref-unite"
    }

    withName: SEQKIT_REMOVE_CHIMERAS {
        publishDir = [
            path: { "${params.outdir}/seqkit-remove-chimeras/${meta.region ? meta.region + '/' : '' }${meta.id}" },
            mode: 'copy',
        ]
    }

    withName: ClassifyConsensusBlast {
        publishDir = [
            path: { "${params.outdir}/blast/${meta.region ? meta.region + '/' : '' }${meta.id}" },
            mode: 'copy',
        ]
    }

    withName: ClassifyReadsRDP {
        publishDir = [
            path: { "${params.outdir}/rdp/${meta.region ? meta.region + '/' : '' }${meta.id}" },
            mode: 'copy',
        ]
    }

    withName: ClassifyReadsDada2 {
        publishDir = [
            path: { "${params.outdir}/rdp-dada2/${meta.region ? meta.region + '/' : '' }${meta.id}" },
            mode: 'copy',
        ]
    }
    withName: ImportTaxonomyIntoPhyloseq {
        publishDir = [
            path: { "${params.outdir}/rdp-dada2-phyloseq/${meta.region ? meta.region + '/' : '' }${meta.id}" },
            mode: 'copy',
        ]
    }
    withName: ImportQiime2TaxonomyIntoPhyloseq {
        publishDir = [
            path: { "${params.outdir}/qiime2-phyloseq/${meta.region ? meta.region + '/' : '' }${meta.id}" },
            mode: 'copy',
        ]
    }
    withName: TweakTaxTableForSpeedytax {
        publishDir = [
            path: { "${params.outdir}/speedytax/${meta.region ? meta.region + '/' : '' }${meta.id}" },
            mode: 'copy',
        ]
    }

    withName: seqtk_sample {
        publishDir = [
            path: { "${params.outdir}/seqtk_sample/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.id}" },
            mode: 'copy',
        ]
    }

    withName: FASTQ_CONCAT {
        publishDir = [
            path: { "${params.outdir}/fastq_concat/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.id}" },
            mode: 'copy',
        ]
    }

    withName: umapTransform {
        publishDir = [
            path: { "${params.outdir}/umap_transform/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.id}" },
            mode: 'copy',
        ]
    }
    withName: kmerFreq {
        publishDir = [
            path: { "${params.outdir}/hdbscan_clustering/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/kmerFreq" },
            mode: 'copy',
            enabled: false
        ]
    }
    withName: gatherMinClusterSizeStats {
        publishDir = [
            path: { "${params.outdir}/hdbscan_clustering_stats/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/" },
            mode: 'copy',
        ]
    }
    withName: hdbscanCluster {
        publishDir = [
            path: { "${params.outdir}/hdbscan_clustering/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.umap_min_cluster_size}/clusters/" },
            mode: 'copy',
        ]
    }
    withName: createOtuTable {
        publishDir = [
            path: { "${params.outdir}/hdbscan_clustering/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.umap_min_cluster_size}/otu_table/" },
            mode: 'copy',
        ]
    }
    withName: splitReadsByCluster {
        publishDir = [
            path: { "${params.outdir}/hdbscan_clustering/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.umap_min_cluster_size}/reads_by_clusters/" },
            mode: 'copy',
        ]
    }
    withName: findMostAbundantSeqsInCluster {
        publishDir = [
            path: { "${params.outdir}/hdbscan_clustering/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.umap_min_cluster_size}/most_abundant/" },
            mode: 'copy',
        ]
    }

    withName: dnabarcoderSearch {
        publishDir = [
            path: { "${params.outdir}/logs/dnabarcoder/${meta.cluster_method}/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.umap_min_cluster_size != null ? "$meta.umap_min_cluster_size/" : ''}search/" },
            mode: 'copy',
            pattern: '*.log'
        ]
        publishDir = [
            path: { "${params.outdir}/dnabarcoder/${meta.cluster_method}/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.umap_min_cluster_size != null ? "$meta.umap_min_cluster_size/" : '' }search/" },
            mode: 'copy',
            pattern: '*.bestmatch'
        ]
    }
    withName: dnabarcoderClassify {
        publishDir = [
            path: { "${params.outdir}/logs/dnabarcoder/${meta.cluster_method}/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.umap_min_cluster_size != null ? "$meta.umap_min_cluster_size/" : '' }classify/" },
            mode: 'copy',
            pattern: '*.log'
        ]
        publishDir = [
            path: { "${params.outdir}/dnabarcoder/${meta.cluster_method}/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.umap_min_cluster_size != null ? "$meta.umap_min_cluster_size/" : '' }classify/" },
            mode: 'copy'
        ]
    }
    withName: draftSelection {
        publishDir = [
            path: { "${params.outdir}/nanoclust-consensus/${meta.cluster_method}/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.umap_min_cluster_size != null ? "$meta.umap_min_cluster_size/" : '' }cluster${meta.cluster.id}/fastANI/" },
            mode: 'copy'
        ]
    }
    withName: mapReadsToDraft {
        publishDir = [
            path: { "${params.outdir}/nanoclust-consensus/${meta.cluster_method}/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.umap_min_cluster_size != null ? "$meta.umap_min_cluster_size/" : '' }cluster${meta.cluster.id}/mapToDraft/" },
            mode: 'copy'
        ]
    }
    withName: raconConsensus {
        publishDir = [
            path: { "${params.outdir}/nanoclust-consensus/${meta.cluster_method}/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.umap_min_cluster_size != null ? "$meta.umap_min_cluster_size/" : '' }cluster${meta.cluster.id}/racon/" },
            mode: 'copy'
        ]
    }
    withName: medakaConsensus {
        publishDir = [
            path: { "${params.outdir}/nanoclust-consensus/${meta.cluster_method}/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.umap_min_cluster_size != null ? "$meta.umap_min_cluster_size/" : '' }cluster${meta.cluster.id}/medaka/" },
            mode: 'copy'
        ]
    }
    withName: concatConsensusSeqs {
        publishDir = [
            path: { "${params.outdir}/nanoclust-consensus/${meta.cluster_method}/${meta.region}/${meta.scenario.count}/${meta.scenario.rep}/${meta.umap_min_cluster_size != null ? "$meta.umap_min_cluster_size/" : '' }final-consensus/" },
            mode: 'copy'
        ]
    }
}