process {
    executor = 'slurm'

    withName: ITSXPRESS {
        cpus = 16
    }
    
    withName: ITSX {
        cpus = 16
    }

    withName: VSEARCH_UCHIME_DENOVO  {
        cpus = 4
    }

    withName: ClassifyReadsDada2 {
        cpus = 16
    }

    withName: VSEARCH_MAP_READS_TO_OTUS {
        cpus = 8
    }

    withLabel: small_cpu {
        cpus = 4
    }

    withLabel: med_cpu {
        cpus = 8
    }

    withLabel: large_cpu {
        cpus = 16
    }

    withLabel: small_mem {
        memory = '500MB'
    }

    withLabel: med_mem {
        memory = '2G'
    }

    withLabel: large_mem {
        memory = '8G'
    }

    withLabel: extra_large_mem {
        memory = '16G'
    }

    withLabel: mega_mem {
        memory = '32G'
    }
}