process {
   withName: nanoplot_bulk {
       cpus = 4
   }

   withName: nanoplot {
       cpus = 4
   }

    withName: ITSXPRESS {
        cpus = 16
    }
    
    withName: ITSX {
        cpus = 16
    }

    withName: VSEARCH_CLUSTER {
        cpus = 4
    }

    withName: VSEARCH_UCHIME_DENOVO  {
        cpus = 4
    }

    withName: VSEARCH_UCHIME_REF {
        cpus = 16
    }

    withName: ClassifyConsensusBlast {
        cpus = 16
    }

    withName: ClassifyReadsDada2 {
        cpus = 16
    }

    withName: VSEARCH_MAP_READS_TO_OTUS {
        cpus = 8
    }

    withName: kmerFreq {
        cpus = 16
    }

    withName: umapTransform {
        cpus = 8
    }
}