process {

    withName: ITSXPRESS {
        cpus = 2
    }
    
    withName: ITSX {
        cpus = 2
    }

    withName: VSEARCH_UCHIME_DENOVO  {
        cpus = 2
    }

    withName: VSEARCH_UCHIME_REF {
        cpus = 2
    }

    withName: ClassifyConsensusBlast {
        cpus = 2
    }

    withName: ClassifyReadsDada2 {
        cpus = 2
    }

    withName: VSEARCH_MAP_READS_TO_OTUS {
        cpus = 2
    }

    withLabel: small_cpu {
        cpus = 1
    }

    withLabel: med_cpu {
        cpus = 2
    }

    withLabel: large_cpu {
        cpus = 4
    }

    withLabel: small_mem {
        memory = '500MB'
    }

    withLabel: med_mem {
        memory = '2G'
    }

    withLabel: large_mem {
        memory = '4G'
    }

    withLabel: extra_large_mem {
        memory = '10G'
    }

    withLabel: mega_mem {
        memory = '10G'
    }

}