process {
    withName: nanoplot_bulk {
        cpus = 2
    }

    withName: nanoplot {
        cpus = 2
    }

    withName: ITSXPRESS {
        cpus = 2
    }
    
    withName: ITSX {
        cpus = 2
    }

    withName: VSEARCH_CLUSTER {
        cpus = 2
    }

    withName: VSEARCH_UCHIME_DENOVO  {
        cpus = 2
    }

    withName: VSEARCH_UCHIME_REF {
        cpus = 2
    }

    withName: ClassifyConsensusBlast {
        cpus = 2
    }

    withName: ClassifyReadsDada2 {
        cpus = 2
    }

    withName: VSEARCH_MAP_READS_TO_OTUS {
        cpus = 2
    }

}